@model IEnumerable<ElasticSearchExample.MVC.ViewModels.BlogListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Blog Listesi</h1>

    <form asp-action="Search" method="post">
    <div class="row my-3">
        <div class="col-md-11">
            <div class="form-group">
                <input type="text" name="searchText" value="@ViewBag.SearchText" class="form-control form-control-sm" required />
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-sm btn-warning">Ara</button>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Yeni Oluştur</a>
</p>
<table class="table table-sm mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @(item.Content.Length > 50 ? item.Content.Substring(0, 50) + "..." : item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detay</a>
                <a asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"
                       onclick="if (!confirm('Silmek istediğinize emin misiniz?')) return false;">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
